:root{
  --putih:#fff;
}

.u{
  position: sticky;
  position: -webkit-sticky; 
  top: 0;
  z-index: 1;
}

  .logo img{
    height:4rem;
    width: 8rem;
    padding-left: 1rem;
  }

  .nav-list {
    width: 96.9%;
    margin-left: -9px;
    margin-top: -8px;
    display: flex;
    line-height: 20px;
    background: #00BFFF;
    padding: 0.3rem 2rem;
    align-items: center;
    position: relative;
  }
  
  .nav-item {
    list-style: none;
    margin-right: 50px;
  }
  
  .nav-item a {
    text-decoration: none;
    transition: all 100ms ease-in;
  }
  
  .nav-item a:hover {
    color: #ffffff;
    transition: .3s;
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
  }

  .on{
    color: #FFFFFF;
    font-weight: bold;
  }




  
